{%extends 'base.html.twig'%}
{% block body %}
{%block title 'ma super agence'%}
<div class= "jumbotron text-center mt-4">
<h1> bienvenue sur la homepage </h1>
</div>



{% endblock %}

/* git remote set-url origin https://github.com/dominguez-tony/agence_immobiliere.git */
