{%extends 'base.html.twig'%}
{% block body %}

<div class= "jumbotron text-center mt-2"style="">
<h1 class=""> Gestion de l'édition </h1>
</div>



<div class= "container mt-2">




<h2 class="text-center">Editer l'option </h2>
{{ include('admin/opt/_form.html.twig', {button: 'Editer'} ) }}





  </div>
  




{% endblock %}